*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Sans-serif;
    scroll-behavior: smooth;
}

/*-----------------------darkmode-----------------------*/

body{
    overflow-x: hidden;
    background-color: var(--body-color);
}

:root {
    --body-color: #18191a;
    --bnt-color: #4169e1;
    --bnt-hover-color: blue;
    --text-color: #4169e1;
    --text-normal-color: white;
    --text-light-color: white;
    --border-color: #ccc;
    --bnt-top-color: #cccccc80;
    --shadow-color: rgba(0, 0, 0, 0.342);
    --box-color: #C4C4C4;
    --case-color: #212121;
}

.darkmode{
    --text-color: black;
    --body-color: #e4e4e4;
    --case-color: #C4C4C4;
    --text-normal-color: black;
}

/*-----------------------darkmode-----------------------*/

/*-----------------------Divisor-----------------------*/

.divisor{
    border-bottom: 2px solid var(--border-color);
}

/*-----------------------Divisor-----------------------*/

/*-----------------------RollToTop-----------------------*/

#bnt-top{
    position: fixed;
    bottom: 30px;
    right: 25px;
    width: 50px;
    height: 50px;
    background-color: var(--bnt-top-color);
    border-radius: 100%;
    border: none;
    margin:0;
    padding: 0;
    z-index: 999;
    cursor: pointer;
    display: none;
}

#bnt-top img{
    width: 40px;
}

/*-----------------------RollToTop-----------------------*/

/*-----------------------header-----------------------*/

header{
    border: 1px solid var(--border-color);
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--case-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    z-index: 999;
}

.logo{
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    align-items: center;
    align-content: center;
}

.menu{
    display: flex;
    align-items: center;
    align-content: center;
}

.menu a{
    text-decoration: none;
    color: var(--bnt-color);
    display: block;
    padding: 16px;
    font-size: 16px;
    text-align: center;
}

.menu a:hover{
    color: var(--bnt-hover-color);
}

.menu button{
    color: var(--bnt-color);
    cursor: pointer;
    margin: 5px;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 16px;
    padding: 16px;
}

.menu button:hover{
    color: var(--bnt-hover-color);
}


#bnt-mobile{
    font-size: 30px;
    display: none;
    color: var(--text-color);
    cursor: pointer;
    margin: 5px;
    border: none;
    background-color: var(--body-color);
}

/*-----------------------header-----------------------*/

/*-----------------------Main-----------------------*/

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin-top: 35px;
}

.text-main{
    color: var(--text-normal-color);
    padding: 40px 280px 40px 40px;
    width: 50%;
    line-height: 1.2;
    text-align: center;
}

.moldura{
    border-bottom: 5px solid var(--bnt-color);
    border-left: 5px solid var(--bnt-color);
    border-radius: 20px;
    padding: 5px;
    background-color: var(--case-color);
}

.main-bnt{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    justify-content: center;
}

.main-links{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-icon{
    background-color: var(--body-color);
    padding: 10px;
    margin-right: 5px;
    border-radius: 10px;
}

.main-icon a{
    text-decoration: none;
    color: var(--text-normal-color);
}

.main-icon:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    background-color: var(--bnt-hover-color);
}

.text-main p{
    margin: 5px;
    font-weight: 700;
}

.text-main h1{
    margin: 5px;
    font-weight: 900;
    color: var(--text-color);
}

.text-main h3{
    margin: 5px;
}

.text-main button{
    cursor: pointer;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    padding: 5px;
    margin: 5px;
    color: var(--text-light-color);
    background-color: var(--bnt-color);
}

.text-main button:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    background-color: var(--bnt-hover-color);
}

.img-main{
    width: 40%;
}

.img-main img{
    width: 100%;
    border-radius: 20px;
}

/*-----------------------Main-----------------------*/

/*-----------------------Sobre-mim-----------------------*/

.sobre-mim{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.img-sobre-mim{
    width: 40%;
    margin-right: 20px;
}

.img-sobre-mim img{
    width: 100%;
    border-radius: 20px;
}

.text-sobre-mim{
    width: 50%;
    padding: 40px;
    border: 4px solid var(--bnt-color);
    border-radius: 40px;
    box-shadow: 2px 2px 1px var(--shadow-color);
    text-align: center;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--case-color);
}

.text-sobre-mim p{
    font-weight: 700;
    color: var(--text-normal-color);
}

/*-----------------------Sobre-mim-----------------------*/

/*-----------------------projetos-----------------------*/

.projetos{
    padding: 40px;
    text-align: center;
    color: var(--text-color);
}

.projetos-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px auto;
    width: 100%;
}

.box{
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    margin: 10px;
    height: 195px;
    width: 310px;
    background-color: var(--box-color);
    color: var(--text-light-color);
    overflow: hidden;
}

.oculto{
    display: none;
    transition: 1000ms;
}

.oculto.active{
    display: flex;
}

.box-image{
    position: relative;
}

.box-image img{
    height: 195px;
    width: 310px;
}

.conteudo{
    display: none;
    color: black;
    text-align: center;
}

.conteudo p{
    margin-bottom: 5px;
}

#estado{
    position: absolute;
    left: 5px;
    top: 160px;
    color: green;
    border-bottom: 1px solid green;
}

.conteudo a{
    text-decoration: none;
    color: var(--bnt-color);
}

.box:hover .conteudo{
    display: block;
}

.box:hover .box-image{
    display: none;
}

.box:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

.box:hover .em-breve{
    background-color: var(--bnt-hover-color);
}

.em-breve{
    background-color: var(--bnt-color);
    width: 100%;
    padding: 20px;
    text-align: center;
    transform: rotate(-50deg);
}

#verMais{
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    color: var(--text-light-color);
    background-color: var(--bnt-color);
}

#verMais:hover{
    background-color: var(--bnt-hover-color);
}

.projetos-links{
    margin-top: 30px;
}

.projetos-links a{
    color: var(--text-color);
    font-size: 20px;
    text-decoration: none;
}

.projetos-links a:hover{
    color: var(--bnt-color);
}

/*-----------------------projetos-----------------------*/

/*-----------------------habilidades-----------------------*/

.habilidades{
    padding: 40px;
    text-align: center;
    color: var(--text-color);
}

.cases{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box-case{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid var(--border-color);
    width: 12rem;
    margin: 20px;
    border-top-left-radius: 20px;
    background-color: var(--case-color);
    color: var(--text-color);
    height: 8rem;
    border-bottom: 5px solid var(--bnt-color);
}

.box-case p{
    margin-bottom: 30px;
}

.box-case i{
    font-size: 50px;
}

.box-case img{
    width: 64px;
}

.box-case:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

/*-----------------------habilidades-----------------------*/


/*-----------------------footer-----------------------*/

.contato{
    border-top: 1px solid  var(--border-color);
    color: var(--text-color);
    text-align: center;
    height: auto;
    padding-top: 20px;
}

.contato h3{
    margin-bottom: 10px;
}

.icon-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 40px;
    width: 15rem;
    height: 12rem;
    border: 2px solid var(--border-color);
    box-shadow: 2px 2px 1px var(--shadow-color);
    border-radius: 40px;
}

.icon a{
    text-decoration: none;
    color: var(--text-color);
    margin-top: 10px;
}

.icon a i{
    color: var(--bnt-color);
}

.img-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background-color: var(--case-color);
    border-radius: 50%;
}

.icon:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: var(--case-color);
    color: var(--text-color);
}

/*-----------------------footer-----------------------*/

/*-----------------------responsivo-----------------------*/

@media screen and (max-width: 1280px) {

    header{
        width: 100%;
    }

    .main{
        padding: 10px;
        margin-top: 75px;
    }

    .text-main{
        padding: 20px 190px 20px 20px;
        width: 50%;
    }

    .img-main{
        width: 40%;
    }

    .sobre-mim{
        padding: 40px;
    }

    .img-sobre-mim{
        margin: 10px;
    }

    .text-sobre-mim{
        line-height: 1.5;
    }
    
    .contato{
        width: 100%;
    }

    .icon{
        padding: 20px;
        width: 13rem;
        height: 10rem;
        margin: 20px 10px 20px 10px;
    }

}

@media screen and (max-width: 1024px){

    header{
        width: 100%;
    }

    .main{
        padding: 20px;
        margin-top: 60px;
    }

    .text-main{
        padding: 10px;
        width: 85%;
    }

    .img-main{
        width: 90%;
    }

    .sobre-mim{
        padding: 20px;
    }

    .img-sobre-mim{
        width: 80%;
        margin: 10px;
    }

    .text-sobre-mim{
        line-height: 1.2;
        width: 100%;
    }

    .projetos{
        padding: 10px;
    }

    .em-breve{
        transform: none;
    }

    .habilidades{
        padding: 10px;
    }

    .box-case{
        margin: 10px;
        width: 8rem;
    }
    
    .contato{
        width: 100%;
    }

    .icon{
        padding: 20px;
        width: 13rem;
        height: 10rem;
        margin: 20px 10px 20px 10px;
    }
}

@media screen and (max-width: 768px){

    header{
        width: 100%;
    }
    
    #bnt-mobile{
        display: block;
    }
    
    .menu{
        display: none;
    }
    
    .menu.active{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: var(--body-color);
        height: 100vh;
        border: 1px solid var(--border-color);
        width: 55%;
        z-index: 999;
    }

    .main{
        flex-direction: column;
        padding: 20px;
        margin-top: 60px;
    }

    .text-main{
        padding: 10px;
        width: 85%;
    }

    .img-main{
        width: 90%;
    }

    .sobre-mim{
        flex-direction: column-reverse;
        padding: 20px;
    }

    .img-sobre-mim{
        width: 80%;
        margin: 10px;
    }

    .text-sobre-mim{
        line-height: 1.2;
        width: 100%;
    }

    .projetos{
        padding: 10px;
    }

    .em-breve{
        transform: none;
    }

    .habilidades{
        padding: 10px;
    }

    .box-case{
        margin: 10px;
        width: 8rem;
    }

    .contato{
        width: 100%;
    }

    .icon{
        padding: 10px;
        width: 12rem;
        height: 10rem;
        margin: 20px 10px 20px 10px;
    }

}

/*-----------------------responsivo-----------------------*/